extends ../layout

block content
  -var model='player'

  .card.border-0
    .card-header.border-0.bg-transparent
      #table-buttons.inline 
        +_newButton( "newModel()", __(_.camelCase("creating-"+ model)), __(_.camelCase("new-"+ model)))

    .card-body.border-0.striped
      table#pingTable.table.table-striped.table-hover
        thead 
          tr
            //th(scope="col") #
            th(scope="col") #{__('PlayerFirstName')}
            th(scope="col") #{__('PlayerLastName')}
            th.text-center(scope="col") #{__('PlayerRanking')}
            th.text-center(scope="col") #{__('PlayerClub')}
            th
        tbody 
          each val in data
            tr(class="align-middle")
              //th(scope="row") #{val.id}
              td #{val.firstname} 
              td #{val.lastname}
              td.text-center #{val.ranking}
              td.text-center #{val.club ? val.club.shortdesc : ''}
              td.text-center
                .btn-group.ms-2(role="group")
                  +_editButton("editModel("+val.id+")")
                .btn-group.ms-2(role="group")
                   +_deleteButton("deleteModel("+val.id+")")

          
      include /includes/modalform.pug
              


        

  