.modal.fade#modalForm(tabindex=-1, role="dialog")
  .modal-dialog(role="document")
    .modal-content
      form#modalFormForm(action="to_be_set_dynamically" method="to_be_set_dynamically")
        .modal-header#modalFormHeader(style ="justify-content:flex-start")
          div.mx-2 
            i#modalFormHeaderImage
          span#modalFormTitle
        .modal-body#modalFormBody
        .modal-footer
          button(type="button", class="btn btn-secondary", data-bs-dismiss="modal", data-bs-target="#modalForm") #{__('Close')} 
          button#modalFormSubmitButton(type="button", class="btn btn-primary") #{__('Save')}

script.
  // when modal form is shown
  $(".modal").on('shown.bs.modal', function () {
      // redirect keypress event of input to submit button
      $("#modalFormBody input:visible").on("keypress", function(event) {
        if (event.key === "Enter") {
          event.preventDefault();
          $('#modalFormSubmitButton').click();
        }
      });
      $(this).find("input:visible:first").select().focus();
    });

    // edit a model
    function editModel(id){
      $('#modalFormHeaderImage').attr('class', 'bx bx-edit-alt bx-sm');
      $('#modalFormTitle').html('#{__(_.camelCase("editing-"+ model))}');
      $('#modalFormForm').attr('method', 'POST');
      $('#modalFormForm').attr('action', __url(#{"'" + model + "'"}, 'edit', id));
      
      
      $.ajax({
        type: 'GET',
        url: __url(#{"'" + model + "'"}, 'edit', id)
      })
      .done(function(data, id){
          $("#modalFormBody").html(data);
          $('#modalForm').modal('show');
      });
    }

    // create a new model
    function newModel(){
      $('#modalFormHeaderImage').attr('class', 'bx bx-edit-alt bx-sm');
      $('#modalFormTitle').html('#{__(_.camelCase("creating-"+ model))}');
      $('#modalFormForm').attr('method', 'POST');
      $('#modalFormForm').attr('action', __url(#{"'" + model + "'"}, 'create'));
      
      $.ajax({
        type: 'GET',
        url: __url(#{"'" + model + "'"}, 'new')
      })
      .done(function(data){
          $("#modalFormBody").html(data);
          $('#modalForm').modal('show');
      });
    }

    // delete a model
    function deleteModel(id){
      $.ajax({
        type: 'DELETE',
        url: __url(#{"'" + model + "'"}, 'delete', id)
      })
      .done(()=>{
        window.location.href=__url(#{"'" + model + "'"});
      })
    }
  

    $('#modalFormSubmitButton').on('click', function() {
      var datastring = $("#modalFormForm").serialize();
      $(".is-invalid:visible").removeClass('is-invalid');
      $.ajax({
          type: "POST",
          url:$("#modalFormForm").attr('action'),
          data: datastring,
          dataType: "json",
          success: function(data) {
              window.location.href=__url(#{"'" + model + "'"});
          },
          error: function(error) {
            error.responseJSON.forEach((e)=> {
              $("[name="+e.path+"]").addClass('is-invalid');
              $("#invalid-"+e.path).html(e.msg);
            });
            $(".is-invalid:visible:first").select().focus();
          }
      });
    });