.container
	div
		input#txtShortDesc(type="hidden", class="form-control", value=details.id, name="id" 
		placeholder="#")

	div.input-group.has-validation
		div.form-floating.mb-3
			input#txtShortDesc(type="text", class="form-control", value=details.shortdesc, name="shortdesc" 
			placeholder="#")
			label.form-label(for="txtShortDesc") #{__('ClubShortDescription')}
			div#invalid-shortdesc.invalid-feedback

	div.form-floating.mb-3
		input#txtLongDesc(type="text", class="form-control" value=details.longdesc name="longdesc"
		placeholder="#")
		label.form-label(for="txtShortDesc") #{__('ClubName')}
		div#invalid-longdesc.invalid-feedback
