extends ../layout

block content
  -var model='club'
 
  .card.border-0
    .card-header.border-0.bg-transparent
      #table-buttons.inline 
      +_newButton("newModel()", __(_.camelCase("creating-"+ model)), __(_.camelCase("new-"+ model)))

    .card-body.border-0.striped
      table#pingTable.table.table-striped.table-hover
        thead 
          tr
            th(scope="col") #
            th(scope="col") #{__('clubShortDescription')}
            th(scope="col") #{__('clubName')}
            th.text-center(scope="col") #{__('numberOfPlayers')}
            th
        tbody 
          each val in data
            tr(class="align-middle")
              th(scope="row") #{val.id}
              td #{val.shortdesc} 
              td #{val.longdesc}
              td.text-center= val.nbplayers
              td.text-center  
                .btn-group.ms-2(role="group")
                  +_editButton("editModel("+val.id+")")

                .btn-group.ms-2(role="group")
                  +_deleteButton("deleteModel("+val.id+")")

          
      include /includes/modalform.pug